.bg-container {
  background-color: #ffd569;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  background-size: cover;
  height: 80%;
  width: 80%;
  text-align: center;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 40px;
  width: 100%;
}
.count-color {
  color: #ffd569;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-image-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.img {
  width: 90%;
}
.btn {
  padding: 10px;
  border-radius: 7px;
  border-width: 0;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
